    <div  class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a routerLink="view-contact" class="nav-link" class="btn btn-primary active" role="button" >View Contact</a>
          </li>&nbsp;
          <li class="nav-item">
            <a  routerLink="add-contact" class="nav-link" class="btn btn-primary active" role="button" >Add Contact</a>
          </li>          
        </ul>
      </nav>   
        <router-outlet></router-outlet>
    </div>
    